.quizo {
  font-family: Lilita One;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5em;
  -webkit-text-stroke-width: 0.04em;
  -webkit-text-stroke-color: black;
  padding: 0.3em;
  margin: 0;
}
.score {
  font-family: Lilita One;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5em;
}

.score-placement {
  text-align: center;
}

.icon {
  align: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.title {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.img {
  width: 50%;
  height: 50%;
}

.points {
  font-family: Lilita One;

  font-size: 3.5em;
}
