.card {
background: #FFC700;
border: 3px solid #000000;
box-sizing: border-box;
border-radius: 25px;
width: 14vw;
height: 14.5vh;

}

.card-placement{

align: center;
text-align: center;
justify-content:center;

}